<div class="container-fluid">
  <div style="text-align:center;" class="mar30">
  <md-card  class="shadow-1"><h1 class="" color="primary">Pick A Course To Start</h1>
  <p>We offer cost effective Angular2 tutorials for development and production</p>
   <p>Choose the package that fits your needs</p>
  </md-card>
  </div>
  <div class="row">
    <div class="col-md-4">
      <md-card class="example-card">
        <img md-card-image src="/assets/course-logo.png" width="100" height="100">
  <md-card-header>
   
    <md-card-title class="large">Angular Beginner 101</md-card-title>
    <md-card-subtitle><div class="mar30"><button md-raised-button color="warn" style="font-size:5em;">$199</button></div></md-card-subtitle>
  </md-card-header>
  
  <md-card-content>
    <p>
      New to Angular 2? Here is the place to start. We walk you through the basic fundamentals of it all.<br>
      Learn enough to built a full startup Angular web app.
      <md-list style="text-align:center">
      <md-list-item> <a routerLink="/">Modules | Routing | Styles</a> </md-list-item>
      <md-list-item> <a routerLink="/">Components | Templating | Testing</a></md-list-item>
      <md-list-item> <a routerLink="/">Services | State | HTTP</a> </md-list-item>
    </md-list>
    
    </p>
  </md-card-content>
  <md-card-actions>
    <a md-raised-button color="primary" routerLink="/checkout/angular_beginner_101/BN9321S/">Enrol For Course Now $199</a>
  </md-card-actions>
</md-card>

    </div>
      <div class="col-md-4">
      <md-card class="example-card">
        <img md-card-image src="/assets/course-logo.png" width="100" height="100">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Angular Intermediate 201</md-card-title>
    <md-card-subtitle><div class="mar30"><button md-raised-button color="primary" style="font-size:5em;">$349</button></div></md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <p>
      Best For Seo<br>
      Angular Beginner 101 coupled in the right way. Built for production. Have you heard of Angular universal? We introduce the concept here!
    <md-list style="text-align:center">
      <md-list-item> <a routerLink="/">Modules | Routing | Styles</a> </md-list-item>
      <md-list-item> <a routerLink="/">Components | Templating | Testing</a></md-list-item>
      <md-list-item> <a routerLink="/">Services | State | HTTP + | 'Universal' </a> </md-list-item>
    </md-list>
    </p>
  </md-card-content>
  <md-card-actions>
    <a md-raised-button color="primary" routerLink="/checkout/angular_intermediate_201/IN9432I/">Enrol For Course Now $349</a>
  </md-card-actions>
</md-card>

    </div>
     <div class="col-md-4">
      <md-card class="example-card">
        <img md-card-image src="/assets/course-logo.png" width="100" height="100">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Angular Master Bundle</md-card-title>
    <md-card-subtitle><div class="mar30"><button md-raised-button color="accent" style="font-size:5em;">$749</button></div></md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <p>
      Best Value! All Angular 2 courses included. With this bundle, you will built three different apps in the learning process.
      
      Angular Reactive,
      Angular For Mobile,
      
      Angular Univeral.
       <md-list style="text-align:center">
      <md-list-item> <a routerLink="/">Components | Templating | Testing</a></md-list-item>
      <md-list-item> <a routerLink="/">Services | State | HTTP + | 'Universal' </a> </md-list-item>
    </md-list>
    </p>
  </md-card-content>
  <md-card-actions>
    <a md-raised-button color="primary" routerLink="/checkout/angular_master_bundle/BN1032I/">Enrol For Course Now $749</a>
  </md-card-actions>
</md-card>

    </div>
  </div>

</div>
 <div class="mar30 text-center">
    <h1 class="alert alert-info"> Coming soon the Angular for Mobile "IONIC" Bundle</h1>
   <h3> Can't afford any of this, well, we have a free course here for you!</h3>
   <a href="http://courses.angularclass.com/p/angular-2-fundamentals">Angular 2 Fundamentals</a>
   </div>


