<main class="main">
   <div class="sec-1 alert">
     <div class="mar10">
        <button md-raised-button color="primary"><i   class="material-icons large" color="green">check_circle</i></button>
     </div>
     <div class="alert alert-success">
      Account Successfully Upgraded to access course work!
     </div>
   </div>
</main>
<div class="mar30"></div>
<section class="container-fluid " style="text-align:center">
 <div class="alert alert-success">
  <p>We are glad you are joining the ranks of awesomeness!</p>
   <p>Give us sometime to set up your classroom! This may take from a few hours to a day!</p>
    
   <p> Have any questions? Do not hesitate to make contact!</p>
   </div>
   <p><a routerLink="/contact" md-raised-button color="accent">Contact Us</a></p>
</section>
