<main class="main">
   <div class="sec-1">
     <div class="mar10">
        <button md-raised-button color="warn"><i   class="material-icons large">info</i></button>
     </div>
      Angular 2 Courses Terms Of Use
   </div>
</main>
<section class="container-fluid" style="text-align:center">
 
  <p>We offer cost effective Angular2 tutorials for development and production.</p>
   <h3>Our terms:</h3>
   <p> With Angular2 Courses, We ask you to check carefully for your needs.</p>
   <p> Before you choose a course, make sure you understand what is it you want to learn.</p>
   <p> We have courses for different levels, we hope to guide you through the Angular Framework.</p>
   <h3>What you should know:</h3>
   <p>Our team reserves, the right to change course materials at any time.( You will understand this, as Angular 2 is still a new project with a lot of changes to happen).</p>
   <p> We will try as much as we can to guide you through. However, your effort and focus is needed to get things through.</p>
   <p> During your course time, you can ask any question related to your course work. Even silly questions are welcome! :)</p>
   <p> Use the following email for any inquiries</p>
  <p class="alert alert-success">fordoh@angular2courses.website</p>

 
</section>
