<main class="main">
   <div class="sec-1">
     <div class="mar10">
        <button md-raised-button color="warn"><i   class="material-icons large">info</i></button>
     </div>
      Oops! You Cancelled the checkout process!
   </div>
</main>
<section class="container-fluid" style="text-align:center">
 
  <p>We offer cost effective Angular2 tutorials for development and production</p>
   <p>Choose the package that fits your needs</p>

   <p> Have any questions? Do not hesitate to make contact</p>
   <p><a routerLink="/contact" md-raised-button color="accent">Contact Us</a></p>
</section>