<main class="main">
   <div class="sec-1">
     <div class="mar10">
        <button md-raised-button color="warn"><i   class="material-icons large">info</i></button>
     </div>
      Please You need to Log In to continue!
   </div>
</main>
<section class="container-fluid" style="text-align:center">
 
  <p>Authentication is required to Proceed!</p>
   <p>Click to Log In from the toolbar.</p>

   <p> Have any questions? Do not hesitate to make contact</p>
   <p><a md-raised-button color="accent" routerLink="/contact">Contact Us</a></p>
</section>