<main class="main">
   <div class="sec-1">
     <div class="mar10">
        <button md-raised-button color="warn"><i   class="material-icons large">info</i></button>
     </div>
      Our Refund Policy
   </div>
</main>
<section class="container-fluid" style="text-align:center">
 <div class="alert alert-warning">
  <p> This may sound harsh or hard, but once you choose a course, and begin we won't be able to make any refunds.</p>
  <p> So please, take your time, think hard and decide if any of our courses is for you</p>

  <p> Use the following email for any inquiries</p>
  <p class="alert alert-success">fordoh@angular2courses.website</p>
 </div>
</section>
