<main class="main">
   <div class="sec-1">
     <div class="mar10">
        <button md-raised-button color="primary"><i   class="material-icons large">mail</i></button>
     </div>
      Contact Us
   </div>
</main>
<section class="container-fluid" style="text-align:center">
  <p> Use the following email for any inquiries</p>
  <p class="alert alert-success">fordoh@angular2courses.website</p>
  <p>We offer cost effective Angular2 tutorials for development and production</p>
   <p>Choose the package that fits your needs</p>

   <p> Have any questions? Do not hesitate to make contact</p>


  <h3> Learn Angular From The Best</h3>

<p>We’re the best at what we do. We not only teach Angular, <br>we also contribute to the Angular codebase and use it in production ourselves.
</p>
<h3>Have any Questions?</h3>

<p>Come with all your questions and specific needs and we’ll <br>make sure your team leaves knowing how to succeed.
</p>
<h3>Learn How To Ship Production</h3>

<p>Anyone can read a getting started blog post, but what about production?<br> We’ll teach your team how build maintainable applications that scale as your team and product grows.
</p>
<h3>We guide you through out the learning process</h3>
<p>
Learning never stops. Let us walk your team through how to stay current.
</p>
 
</section>
